<div id="wrapper">
  <h1>Note Scraper</h1>
  <h2><i>If you can do this... the homework should be no problem.</i></h2>
<!--  <button id="scrape-articles">Scrape Articles</button>
  <button id="show-articles">Show Articles</button>-->
  <div id="articles">
    <ul>
      {{#each articles}}
        <li><p data-id="{{this._id}}">{{this.title}}</p>
          <a href="{{this.link}}">{{this.link}}</a></li>
      {{/each}}
    </ul>

  </div>
  <div id="notes"></div>
</div>