body {
  background-image: url("../img/what-the-hex-dark.png");
}

.jumbotron {
  background-image: url("../img/code.jpg");
  background-size: cover;
}

button.no-underline {
  text-decoration: none !important;
}

button.no-underline:hover {
  color: #FF7900;
}

a.card-link:hover {
  color: #FF1493
}

.badge-pill {
  float: right;
}

.delete-note:hover {
  color: #FF1493
}

button.edit-note {
  color: #888888;
  background: none;
  border: none;
}

button.edit-note:hover {
  background: none;
  color: #FF7900;
}

@media (max-width: 1080px) {
  #new-card {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .display-1 {
    font-size: 48px;
  }
}