button.no-underline {
  text-decoration: none !important;
}

button.no-underline:hover {
  color: #FF7900;
}

a.card-link:hover {
  color: #FF1493
}

.badge-pill {
  float: right;
}

.delete-note:hover {
  color: #FF1493
}

@media (max-width: 1080px) {
  #new-card {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .display-1 {
    font-size: 48px;
  }
}